/*!
 * test
 */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

body {
  padding-top: 80px;
  overflow-x: hidden;
}

.navbar .navbar-nav .active a {
  background: #ff6347;
}
.navbar .navbar-nav .active a:hover {
  color: #666;
}

.jumbotron {
  background: #f0e68c;
}

a {
  color: #87cefa;
  font-weight: bold;
}

.main-title {
  background: #eeeeee;
  margin: 22px 0;
}
.main-title .icons {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-title .icons h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.main-text {
  padding-bottom: 6px;
}

.large {
  font-size: 20px;
}

.btn-twitter {
  color: #FFF;
  background-color: #55ACEE;
  border-color: #4ca7ed;
}
.btn-twitter .fa.fa-lg {
  vertical-align: -1px;
  margin-right: 2px;
}
.btn-twitter:focus, .btn-twitter.focus {
  color: #FFF;
  background-color: #2795e9;
  border-color: #1167a8;
}
.btn-twitter:hover {
  color: #FFF;
  background-color: #2795e9;
  border-color: #178ce5;
}
.btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
  color: #FFF;
  background-color: #2795e9;
  border-color: #178ce5;
}
.btn-twitter:active:hover, .btn-twitter:active:focus, .btn-twitter:active.focus, .btn-twitter.active:hover, .btn-twitter.active:focus, .btn-twitter.active.focus, .open > .btn-twitter.dropdown-toggle:hover, .open > .btn-twitter.dropdown-toggle:focus, .open > .btn-twitter.dropdown-toggle.focus {
  color: #FFF;
  background-color: #1583d7;
  border-color: #1167a8;
}
.btn-twitter:active, .btn-twitter.active, .open > .btn-twitter.dropdown-toggle {
  background-image: none;
}
.btn-twitter.disabled, .btn-twitter.disabled:hover, .btn-twitter.disabled:focus, .btn-twitter.disabled.focus, .btn-twitter.disabled:active, .btn-twitter.disabled.active, .btn-twitter[disabled], .btn-twitter[disabled]:hover, .btn-twitter[disabled]:focus, .btn-twitter[disabled].focus, .btn-twitter[disabled]:active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter, fieldset[disabled] .btn-twitter:hover, fieldset[disabled] .btn-twitter:focus, fieldset[disabled] .btn-twitter.focus, fieldset[disabled] .btn-twitter:active, fieldset[disabled] .btn-twitter.active {
  background-color: #55ACEE;
  border-color: #4ca7ed;
}
.btn-twitter .badge {
  color: #55ACEE;
  background-color: #FFF;
}

.twitter_button {
  margin: auto;
  padding: auto;
  width: 50%;
}

.nav-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-logo img {
  height: 70px;
}
