@charset "UTF-8";
/*!
 * test
 */
@import "compass";
@import "compass/css3";

@import "eli/variables";
@import "honoka/variables";
@import "bootstrap/mixins";

$brand-twitter: #55ACEE;
$brand-facebook: #3B5998;

*[id]:before {
  display: block;
  content: " ";
  margin-top: -$navbar-height;
  height: $navbar-height;
  visibility: hidden;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

body {
  padding-top: $navbar-height;
  overflow-x: hidden;
}

.navbar {
  .navbar-nav {
    .active a {
      background: $brand-danger;
      &:hover {
        color: #666;
      }
    }
  }
}

.jumbotron {
  background: $brand-warning;
}

a {
  color: $brand-success;
  font-weight: bold;
}

.main-text-contents {
  // margin-left: $padding-base-vertical;
}

.main-title {
  background: $gray-lighter;
  // height: $font-size-h1 + ($padding-base-vertical * 2);
  margin: $line-height-computed 0;
  .icons {
    padding-top: $padding-large-vertical;
    padding-bottom: $padding-large-vertical;
    h2 {
      font-size: $font-size-h1;
      margin: 0;
      padding: 0;
    }
  }
}

.main-text {
  padding-bottom: $padding-base-vertical;
}

.large {
  font-size: $font-size-large;
}

.btn-twitter {
  .fa.fa-lg {
    vertical-align: -1px;
    margin-right: 2px;
  }
  @include button-variant(#FFF, $brand-twitter, darken($brand-twitter, 2%));
}

.twitter_button {
  margin: auto;
  padding: auto;
  width: 50%;
}

.nav-logo {
  padding-top: $padding-xs-horizontal;
  padding-bottom: $padding-xs-horizontal;
  img {
    height: $navbar-height - ($padding-xs-horizontal * 2);
  }
}
